
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LPN Estimator</title>
    <html lang="en">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
    </script>
</head>

<style>
  .form-check-input{
    border-color: Grey;
  }
  .form-check-input:checked {
    background-color: CadetBlue;
    border-color: PowderBlue;
  }
  .form-check-input:checked:focus {
    background-color: CadetBlue;
    border-color: Grey;
    box-shadow: 0 0 0 0.25rem Gainsboro;
  }
  .form-check-input:focus {
    background-color: CadetBlue;
    border-color: Grey;
    box-shadow: 0 0 0 0.25rem Gainsboro;
  }
  .form-control {
    border-color: Grey;
  }
  .form-control:focus{
    border-color: Grey;
    box-shadow: 0 0 0 0.25rem Gainsboro;
  }
  .btn-primary {
    background-color: DarkCyan !important;
    border-color: DarkCyan !important;
  }

  .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: Teal !important;
    border-color: Teal !important;
  }

  .submit_loading {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#000;
    text-align:center;
    opacity:0.6;
  }
  .loading_show {
      margin-top:15%;
  }
  .loading_context {
      color:#fff;
  }
  .collapse navbar-collapse {
    background-color: #E9E9E9;
  }
</style>
<body class="bg-light">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="">LPN Estimator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/contact">Contact</a>
            <a class="nav-link" href="/help">Help</a>
            <a class="nav-link" href="https://github.com/RabbitCabbage/LPN-Estimator">GitHub</a>
          </div>
        </div>
      </div>
    </nav>

      <script>
        function change_op_input(checkbox_id){
          var checkbox = document.getElementById(checkbox_id);
          if(checkbox.checked){
              var input_n = document.getElementById('input-dual-n');
              input_n.disabled = false;
              var input_k = document.getElementById('input-secret-len');
              input_k.disabled = true;
          } else {
              var input_n = document.getElementById('input-dual-n');
              input_n.disabled = true;
              var input_k = document.getElementById('input-secret-len');
              input_k.disabled = false;
          }
        }
      </script>
      <script>
        function type_choose(checkbox_id){
          var plain = document.getElementById('1');
          var field = document.getElementById('2');
          var ring = document.getElementById('3');
          var input_ring_size = document.getElementById('input-ring-size');
          var input_field_size = document.getElementById('input-field-size');
  
          if(plain.checked){
            input_ring_size.disabled = true;
            input_field_size.disabled = true;
          } else if(field.checked){
            input_ring_size.disabled = false;
            input_field_size.disabled = true;
          } else if(ring.checked){
            input_ring_size.disabled = true;
            input_field_size.disabled = false;
          }
        }
      </script>
  
      <script>
        function validateForm(form_id) {
          var N = document.getElementById("input-sample-num").value;
          var k = document.getElementById("input-secret-len").value;
          var t = document.getElementById("input-noise-weight").value;
          var q = document.getElementById("input-field-size").value;
          var l = document.getElementById("input-ring-size").value;
          var n = document.getElementById("input-dual-n").value;
          var dual = document.getElementById("dual_switch").checked;
          var field = document.getElementById("3").checked;
          var ring = document.getElementById("2").checked;
  
          // N must be positive integers, without other characters
          if (N == "" || isNaN(N) || Number(N) <= 0) {
            alert("Number of samples must be a positive integer");
            return false;
          }
          if (!dual && (k == "" || isNaN(k) || Number(k) <= 0)) {
            alert("Length of secret must be a positive integer");
            return false;
          }
          if (t == "" || isNaN(t) || Number(t) <= 0) {
            alert("Hamming weight of noise must be a positive integer");
            return false;
          }
          if (dual && (n == "" || isNaN(n) || Number(n) <= 0)) {
            alert("Corresponding to COT/VOLE correlations must be a positive integer");
            return false;
          }
          if (field && (l == "" || isNaN(l) || Number(t) <= 0)) {
            alert("Size of field must be a positive integer");
            return false;
          }
          if (ring && (q == "" || isNaN(q) || Number(q) <= 0)) {
            alert("Bit size of ring must be a positive integer");
            return false;
          }
          else if (!dual && Number(N) <= Number(k)) {
            alert("Length of secret must be less than number of samples, N = " + N + ", k = " + k);
            return false;
          }
          else if (dual && Number(N) <= Number(n)) {
            alert("Corresponding to COT/VOLE correlations must be less than number of samples, N = " + N + ", n = " + n);
            return false;
          }
          document.getElementById("loading").style.display = "block";
        }
      </script>
    
    <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Estimator for LPN Bit Security</h2>
      </div>

      <div class="col-md-8 col-lg-6 mx-auto">
    <form role="form" method="post" onsubmit="return validateForm(form)" id='form' action="/">
        {% csrf_token %}
        <div class="row g-3">

            <div class="col-12 col-sm-6">
              <h5 style="color:DarkCyan;">Noise Distribution</h5>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="noise" id="ex" checked="true" value="exact">
                <label class="form-check-label" for="ex">Exact Weight</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="noise" id="rg" value="regular">
                <label class="form-check-label" for="rg">Regular</label>
              </div>
            </div>
            
            <div class="col-12 col-sm-6">
              <h5 style="color:DarkCyan;">Decoding Type</h5>
              <div class="from-switch form-switch form-switch-inline">
                <input class="form-check-input" name="dual" type="checkbox" role="switch" id="dual_switch" value="dual" onclick="change_op_input('dual_switch')">
                <label class="form-check-label" for="dual_switch">Dual form of LPN</label>
              </div>
            </div>

          <div>
            <div class="col-12">
                <h5 style="color:DarkCyan;">Algebra Structure</h5>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="field" value="f2" id="1" checked="true" onclick="type_choose('1')">
                  <lable class="form-check-label" for="1">Over `\mathbb{F}_2`</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"   name="field" value="rq" id="2" onclick="type_choose('2')">
                  <lable class="form-check-label" for="2">Over `\mathbb{F}_q`</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"   name="field" value="f2l" id="3" onclick="type_choose('3')">
                  <lable class="form-check-label" for="3">Over `\mathbb{Z}_{2^\lambda}`</label>
                </div>
            </div>

            <div class="col-12">
              <label for="input-field-size" class="col-form-label">Size of Field (q) </label>
              <input class="form-control" type="text" placeholder="" aria-label="default input example" id="input-field-size" name="q" disabled = "true">
            </div>
            
            <div class="col-12">
              <label for="input-ring-size" class="col-form-label">Bit Size of Ring (`\lambda`) </label>
                <input class="form-control" type="text" placeholder="" aria-label="default input example" id="input-ring-size" name="l" disabled = "true">
            </div>
          </div>

          <div>
            <h5 style="color:DarkCyan;">Parameters</h5>
            {% comment %} <h5 style="color:DarkCyan;">Parameters</h5> {% endcomment %}
            <div class="col-12">
              <label for="input-sample-num" class="col-form-label">Number of Samples (N) </label>
              <input class="form-control" type="text" placeholder="" aria-label="default input example" id="input-sample-num" name="N" value="1024">
            </div>


            <div class="col-12">
              <label for="input-dual-n" class="col-form-label">Corresponding to COT/VOLE Correlations (n) </label>
              <input class="form-control" type="text" placeholder="" aria-label="default input example" id="input-dual-n" name="n" disabled = "true">
            </div>

            <div class="col-12">
              <label for="input-secret-len" class="col-form-label">Length of Secret (k)</label>
              <input class="form-control" type="text" placeholder="" aria-label="default input example" id="input-secret-len" name="k" value="652">
            </div>

            <div class="col-12">
              <label for="input-noise-weight" class="col-form-label">Hamming Weight of Noise (t)</label>
              <input class="form-control" type="text" placeholder="" aria-label="default input example" id="input-noise-weight" name="t" value="88">
            </div>
          </div>
            
            <div class="col-12">
              <input type="submit" class="btn btn-primary" value="Calculate">
            </div>

            <h5 style="color:DarkCyan;">Results</h5>
            <div class="col-12">
              <p style="color:Crimson;">{{ result }}</p>
            </div>
        </div>
    </form>
    </div>
    </main>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2024 <a href="https://crypto.sjtu.edu.cn/lab/">Lattice Lab, SJTU</a></p>
    </footer>
    </div>

  <div id="loading" class="submit_loading" style="display:none">
    <div class="loading_show">
        <p class="loading_context">Computing... This may take a few moments...</p>
    </div>
  </div>

</body>
</html>